/* ////////////////////////////////////////

module CSS

//////////////////////////////////////// */

.biko{
	color: #a5a4a4;
	font-size: 15px;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #ededed;
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.05);
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.05);
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 92%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(237, 237, 237, 0);
	border-bottom-color: #ededed;
	border-width: 11px;
	margin-left: -11px;
}


.tag{
	border-radius: 2px;
	background-color: #4b87ac;
	color: #ffffff;
	padding: 3px 5px;
	margin-left: 10px;
	font-size: 12px;
}





/* ////////////////////////////////////////
pagetitle
//////////////////////////////////////// */
.pagetitle{
padding:60px 5%;
background-color: #3d3d3d;
margin-bottom:70px;
}
.device-mobile .pagetitle .inner{
width:95%;
}

.pagetitle h1{
font-family: 'Quicksand' , sans-serif;
font-size:70px;
line-height:70px;
padding-bottom:10px;
font-weight:normal;
color: #ffffff;
}
.device-mobile .pagetitle h1{
font-size:40px;
line-height:40px;
padding-bottom:10px;
font-weight:normal;
}

.pagetitle .subtitle{
font-size:16px;
color:#000000;
margin-bottom:30px;
font-weight:bold;
color: #ffffff;
}
.device-mobile .pagetitle .subtitle{
margin-bottom:20px;
}

.pagetitle h2{
margin-bottom:10px;
font-size:21px;
color: #ffffff;
}
.device-mobile .pagetitle h2{
font-size:16px;
}
.pagetitle .text{
font-size:13px;
color: #8e8e8e;
}




/* ////////////////////////////////////////
slick
//////////////////////////////////////// */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}








/* Slider */
.slick-loading .slick-list
{
    background: #fff url('/chintai/common/img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	background-image:url("/chintai/common/img/prev.png");
	height:47px;
	left:13px;
	text-indent:-1000px;
	width:48px;
	z-index:100;
}
.slick-next
{
	background-image:url("/chintai/common/img/next.png");
	height:47px;
	right:13px;
	text-indent:-1000px;
	overflow: hidden;
	width:48px;
	z-index:100;
}/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: none;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: none;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '?';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}





/* ////////////////////////////////////////
スライドショ
//////////////////////////////////////// */
.section .title{
	padding: 0 30px;
	padding-bottom:20px;
}
	.device-mobile .section .title{
		padding: 0 10px;
		padding-bottom:10px;
	}
.section .title h2{
font-size:34px;
float:left;
padding-top: 30px;
color: #444444;
}
	.device-mobile .section .title h2{
	font-size:27px;
	padding-top: 20px;
	}
.section .title .more{
	float:right;
	padding-top: 49px;
}
.section .title .more a{
	color: #a9a9a9;
	padding-right: 12px;
	background-image: url("/chintai/common/img/arrow_gray.png");
	background-position-x: right;
	background-position-y: 4px;
	background-repeat: no-repeat;
	font-size: 17px;
}

.section_container{
}
	.device-mobile .section_container{
	padding: 0 0px;
	}
.section_container .section_item{
	width: 360px;
	float: left;
	margin-right: 15px;
}
	.device-mobile .section_container .section_item{
		width: 270px;
	}
.section a{
	text-decoration: none;
}


.section_container .photo{
	position: relative;
	width: 360px;
	height: 495px;
	margin-bottom: 10px;
}
	.device-mobile .section_container .photo{
		width: 270px;
		height: 370px;
		margin-bottom: 10px;
	}
.section_container .photo1{
	position: absolute;
	left: 110px;
	bottom:0;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 70px;
}
	.device-mobile .section_container .photo1{
	left: 65px;
	}
.section_container .photo1 img{
	margin-left:-35px;
	width: 200px;
}
.section_container .photo2{
	width: 360px;
	height: 480px;
}
	.device-mobile .section_container .photo2{
		width: 270px;
		height: 370px;
	}
.section_container .photo2 img{
	width: 100%;
}

.section .price{
	color: #a9a9a9;
}

.section .price b{
	color: #000000 !important;
	font-size: 17px;
}

.section .star{
	color: #4C86AB;
}










































